[Unit]
Description=Reverse Proxy Tunnel to FNAL

[Service]
ExecStart=/opt/chips-dist/tunnel/spill_tunnel.sh
WorkingDirectory=/opt/chips-dist/run
Restart=always

[Install]
WantedBy=network.target

