*.o
*.a
*.so
*.root

build

.cproject
.project
.vscode

daqonite/src/monitoring_gui_dict_rdict.pcm
daqonite/src/Monitoring_gui_dict_rdict.pcm
daqonite/src/monitoring_gui_dict.cc
daqonite/src/monitoring_gui_dict.h
env
*.keytab
