[submodule "daqonite/lib/fmt"]
	path = daqonite/lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "daqonite/lib/elasticlient"]
	path = daqonite/lib/elasticlient
	url = https://github.com/jooosh25/elasticlient.git
[submodule "daqonite/lib/nngpp"]
	path = daqonite/lib/nngpp
	url = https://github.com/cwzx/nngpp.git
[submodule "daqonite/lib/nng"]
	path = daqonite/lib/nng
	url = https://github.com/nanomsg/nng.git
[submodule "daqonite/lib/tinyfsm"]
	path = daqonite/lib/tinyfsm
	url = https://github.com/digint/tinyfsm.git
