
*.o
*.a
*.root
.cproject
.project
.vscode/
daqonite/src/Monitoring_gui_dict_rdict.pcm
daqonite/src/bbb_test
daqonite/src/daqonite
daqonite/src/monitoring_gui_dict.cc
daqonite/src/monitoring_gui_dict.h
daqonite/src/daqommand
daqonite/src/daqulator

