[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/elasticlient"]
	path = lib/elasticlient
	url = https://github.com/jooosh25/elasticlient.git
[submodule "lib/nngpp"]
	path = lib/nngpp
	url = https://github.com/cwzx/nngpp.git
[submodule "lib/nng"]
	path = lib/nng
	url = https://github.com/nanomsg/nng.git
[submodule "lib/tinyfsm"]
	path = lib/tinyfsm
	url = https://github.com/digint/tinyfsm.git
