[Unit]
Description=DAQ Control

[Service]
ExecStart=/chips/dist/bin/run_with_env.sh daqontrol --state-bus-url=tcp://:7031 --control-bus-url=tcp://chipsshore04:7020
WorkingDirectory=/chips/run
Restart=always
User=daq
Group=daq

[Install]
WantedBy=network.target

