[Unit]
Description=Reverse Proxy Spill Signal Tunnel to FNAL

[Service]
ExecStart=/chips/dist/tunnel/spill_tunnel.sh
WorkingDirectory=/chips/run
Restart=always
User=daq
Group=daq

[Install]
WantedBy=network.target

