##############################################################
# deploy_config_secrets.sh
# Passwords and secrets of the CHIPS deployment used by deploy.sh
# WARNING: This file should never be committed.
##############################################################

# ElasticSearch password
export ES_PASSWORD="TODO: insert password here"
