[Unit]
Description=DAQ Monitoring Service

[Service]
ExecStart=/chips/dist/bin/run_with_env.sh daqsitter --elastic
WorkingDirectory=/chips/run
Restart=always
Nice=3
User=daq
Group=daq

[Install]
WantedBy=network.target

