[Unit]
Description=Finite State Machine

[Service]
ExecStart=/chips/dist/bin/run_with_env.sh fsm
WorkingDirectory=/chips/run
Restart=always
User=daq
Group=daq

[Install]
WantedBy=network.target

