[Unit]
Description=Optical DAQ

[Service]
ExecStart=/opt/chips-dist/run/run_with_env.sh ../bin/daqonite
WorkingDirectory=/opt/chips-dist/run
Restart=always
Nice=3

[Install]
WantedBy=network.target

